* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


h1 {
    color: #aa0f00;
    font-size: 18px;

}
